label {
  display: block;
}
input.wide {
  width: 350px;
}
input.toggle {
  width: 44px;
}
.box {
  width: 133px;
  height: 133px;
}

.box2 {
  background-color: #1675d3;
}
.img-size {
  width: 133px;
  height: 133px;
}
