label {
  display: block;
}
input.wide {
  width: 100%;
}
input.toggle {
  width: 44px;
}
.box {
  width: 133px;
  height: 133px;
}

.box2 {
  background-color: #1975d2;
}
#lgImage {
  width: 133px;
  height: 133px;
}
